<!DOCTYPE html>
<html ng-app="COSL">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coursera assigment 2 - Check-off Shopping List</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .row label {
        width: 100% !important;
      }
      .mylabel {
        font-weight: normal;
        font-style: italic;
      }
      form {
        margin-top: 50px;
      }
      .status {
        color: #FF4444;
        font-size: larger;
      }
      .message {
        color: #0044AA;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><small>This is my </small>Check-off Shopping List
        </h1>
      </div>
      <div class="row" ng-controller="ShoppingListController">
        <div class="col-md-6">
          <div class="panel panel-primary" id="to-buy">
            <div class="panel-heading">
              <h2 class="panel-title glyphicon glyphicon-shopping-cart">  To Buy</h2>
            </div>
            <div class="panel-body">
              <p class="message" ng-show="to_buy.length">Clicking on "Bought" will move your items to the list on the right.</p>
              <form class="form-inline">
                <div class="list">
                  <p class="status" ng-hide="to_buy.length">Everything is bought!</p>
                  <div ng-if="to_buy.length" ng-repeat="o in to_buy">
                    <div class="list-item row">
                      <label>
                        <div class="col-sm-9"><span class="mylabel">Buy<span> {{o.quantity}}</span> of<span> {{o.name}}</span></span></div>
                        <div class="col-sm-3">
                          <button class="btn btn-success" ng-click="bought_item($index)">Bought <span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-success" id="bought">
            <div class="panel-heading">
              <h2 class="panel-title glyphicon glyphicon-ok"> Already bought</h2>
            </div>
            <div class="panel-body">
              <p class="status" ng-if="!bought.length">Nothing bought yet</p>
              <ul ng-if="bought.length">
                <div class="list">
                  <div ng-repeat="o in bought">
                    <div class="list-item"><span class="mylabel">Bought<span> {{o.quantity}}</span> of<span> {{o.name}}</span></span></div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="footer">
        <p>This version is in preliminary stage: layout.</p>
        <p class="credits">Built with the help of<a href="https://www.coursera.org/learn/single-page-web-apps-with-angularjs/home/welcome">
             Yaakov Chaikin at Coursera
            ,</a><a href="https://angularjs.org/"> AngularJS,</a> and<a href="http://getbootstrap.com/">
             Bootstrap3,</a><a href="http://glyphicons.com/">
             glyphicons,</a><a href="https://pugjs.org/"> pugjs</a> and<a href="https://www.gnu.org/software/emacs/"> emacs<code>:-)</code></a></p>
      </div>
    </div>
  </body>
</html>