- var title = "Check-off Shopping List";
- var stage = "in preliminary stage: layout";
doctype html
html(ng-app="ShoppingListCheckOff")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Coursera assigment 2 - #{title}
    block styles
      link(rel="stylesheet", href="styles/bootstrap.min.css")
      style
        | .row label {
        //- | background-color: silver;
        |   width: 100% !important;
        |}
        | .mylabel {
        |   font-weight: normal;
        |   font-style: italic;
        |}
        | form {
        |   margin-top: 50px;
        |}
        | .status {
        |   color: #FF4444;
        |   font-size: larger;
        |}
        | .message {
        |   color: #0044AA;
        | }
    block scripts
      script(src='angular.min.js')
      script(src='app.js')
  body
    .container
      block content
        .page-header
          h1
            small This is my #{""}
            = title
        .row
          .col-md-6
            #to-buy.panel.panel-primary(ng-controller="ToBuyController as TBCtrl")
              .panel-heading: h2.panel-title.glyphicon.glyphicon-shopping-cart
                |   To Buy
              .panel-body
                p.message(ng-show="!TBCtrl.isEmpty()") Clicking on "Bought" will move your items to the list on the right.
                form.form-inline
                  .list
                    p.status(ng-show="TBCtrl.isEmpty()") Everything is bought!
                    div(ng-if="!TBCtrl.isEmpty()" ng-repeat="o in TBCtrl.getItems()")
                      .list-item.row
                        label
                          .col-sm-9
                            span.mylabel Buy
                              span  {{o.quantity}}
                              |  of
                              span  {{o.name}}
                          .col-sm-3
                            button.btn.btn-success("ng-click"="TBCtrl.setBought($index)")
                              | Bought #{""}
                              span.glyphicon.glyphicon-arrow-right
              .panel-footer
          .col-md-6
            #bought.panel.panel-success(ng-controller="AlreadyBoughtController as ABCtrl")
              .panel-heading: h2.panel-title.glyphicon.glyphicon-ok
                |  Already bought
              .panel-body
                p.status("ng-if"="ABCtrl.isEmpty()") Nothing bought yet
                ul("ng-if"="!ABCtrl.isEmpty()")
                  .list
                    div(ng-repeat="o in ABCtrl.getItems()")
                      .list-item
                        span.mylabel Bought
                          span  {{o.quantity}}
                          |  of
                          span  {{o.name}}
      hr
      block foot
        #footer
          p This version is #{stage}.
          p.credits Built with the help of
            a(href="https://www.coursera.org/learn/single-page-web-apps-with-angularjs/home/welcome")
              |  Yaakov Chaikin at Coursera
              | ,
            a(href="https://angularjs.org/")  AngularJS,
            |  and
            a(href="http://getbootstrap.com/")  Bootstrap3
              | ,
            a(href="http://glyphicons.com/")  glyphicons
              | ,
            a(href="https://pugjs.org/")  pugjs
            |  and
            a(href="https://www.gnu.org/software/emacs/")  emacs
              code :-)