<!doctype html>
<html ng-app="LunchCheck" lang="en">
    <head>
        <title>Lunch Checker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="lib/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <style>
         .message { font-size: 1.3em; font-weight: bold; }
         div.ok { color: green; }
         div.error { color: red; }
         #lunch-menu.ok { border-color: green; }
         #lunch-menu.error { border-color: red; }
         #parser-message {
             font-style: italic;
             }
         #parser-message.default { color: #121278; }
         #parser-message.skimmed { color: #a1560d; }
        </style>
    </head>
    <body>
        <div class="container" ng-controller="LunchCheckController">
            <h1>Lunch Checker</h1>

            <div class="form-group">
                <input id="lunch-menu" type="text" ng-model="menu"
                       placeholder="list comma separated dishes you usually have for lunch"
                       class="form-control"
                ng-class="status_class">
                <p id="parser-message" ng-class="parser_status">
                    Parser message:
                    {{parser_message}}
                </p>
                {{}}
            </div>
            <div class="form-group">
                <button class="btn btn-default"
                        ng-click="too_much()"
                >Check If Too Much</button>
            </div>
            <div class="form-group message" ng-class="status_class">
                {{message}}
            </div>
        </div>

    </body>
</html>
